<div class="border-form-div">
  <h2>Sign in</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email, :autofocus => true, :placeholder => 'Email Address', :label => false %>
  <%= f.input :password, :placeholder => 'Password', :label => false %>
  <%= f.input :remember_me, as: :boolean, inline_label: 'Remember me', label: false if devise_mapping.rememberable? %>
  <%= f.button :submit, "Sign in", :class => 'btn btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
