<%- model_class = Release -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <p><%= I18n.t('releases.index') %></p>
</div>
<% if @releases.present? %>
  <table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th><%= I18n.t('releases.date') %></th>
      <th><%= I18n.t('app.mysageone') %></th>
      <th><%= I18n.t('app.accounts') %></th>
      <th><%= I18n.t('app.accounts_extra') %></th>
      <th><%= I18n.t('app.payroll') %></th>
      <th><%= I18n.t('app.addons') %></th>
      <th><%= I18n.t('app.collaborate') %></th>
      <th><%= I18n.t('app.help') %></th>
      <th><%= I18n.t('releases.status') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @releases.each do |release| %>
    <tr data-link='<%= release_path(release) %>' <%= release == @next_release ? "class=next_release" : "class=foo" %>>
      <td><%= release.date %></td>
      <td <%= release.mysageone.present? ? "class = new-version" : "class = previous-version" %>><%= Release.version('mysageone', release) %></td>
      <td <%= release.accounts.present? ? "class = new-version" : "class = previous-version" %>><%= Release.version('accounts', release) %></td>
      <td <%= release.accounts_extra.present? ? "class = new-version" : "class = previous-version" %>><%= Release.version('accounts_extra', release) %></td>
      <td <%= release.payroll.present? ? "class = new-version" : "class = previous-version" %>><%= Release.version('payroll', release) %></td>
      <td <%= release.addons.present? ? "class = new-version" : "class = previous-version" %>><%= Release.version('addons', release) %></td>
      <td <%= release.collaborate.present? ? "class = new-version" : "class = previous-version" %>><%= Release.version('collaborate', release) %></td>
      <td <%= release.help.present? ? "class = new-version" : "class = previous-version" %>><%= Release.version('help', release) %></td>
      <td><%= release.status %></span></td>
    </tr>
<% end %>
  </tbody>
</table>
<% else %>
  <p><%= I18n.t('releases.empty') %></p>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_release_path,
  :class => 'btn btn-primary' %>

<center><%= paginate @releases, :html_options => {:class => "pagination"} %></center>

